<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Isomorphic React Template</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/vendor.css">
  <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
  <div id="app"><%- html %></div>

  <% if (env === 'production') { %>
    <script src="/public/js/vendor.min.js"></script>
    <script src="/public/js/client.min.js"></script>
  <% } else { %>
    <script src="/public/js/vendor.bundle.js"></script>
    <script src="/public/js/client.js"></script>
  <% } %>
</body>
</html>
